title: Today I Learned
html_title: "TIL - Your Daily Learning Notes" # This will be used in the browser tab
site_name: "Today I Learned" # This will be used in the header and footer
description: A collection of things I learn day to day
baseurl: "" # Change this to your repo name if not using custom domain
url: "" # Change this to your site URL

# Build settings
markdown: kramdown
highlighter: rouge
kramdown:
  syntax_highlighter: rouge
plugins:
  - jekyll-feed
  - jekyll-seo-tag

collections:
  til:
    output: true
    permalink: /til/:categories/:title/
